vendor/
node_modules/
.env
.git
.github
storage/app/private/
storage/logs/
storage/debugbar/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
.gitignore
README.md
docker-compose.yml
Dockerfile
*.sqlite
*.log
.env.*
.phpunit.result.cache